# Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/.

# Finder.
.DS_Store

# Python.
__pycache__/
*.egg-info/

# Muck.
_build/
_fetch/

# Project.
_misc/
todo.txt
2015_5yr_Summary_FileTemplates/
2015_ACS_Geography_Files/
2015_Gaz_tracts_national.txt
Tracts_Block_Groups_Only/
data/
